.shimmer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shimmer-background {
  width: 100%;
  animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
  0% {
    background-color: #f6f6f6;
  }
  50% {
    background-color: #e0e0e0;
  }
  100% {
    background-color: #f6f6f6;
  }
}
